@import "./normalize.css";

html {
  font-size: 13pt;
}

html, body, div, p, span, input, textarea, select, button {
    font-family: sans-serif;
}

body, div, p, span, input, textarea, select, button {
    font-size: 1em;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

body {
    padding: 2em;
}

p {
    margin: 0 0 2em 0;
}

p.hint {
    color: #888;
    font-size: 0.75em;

    &.success {
        color: green;
    }

    kbd {
        font-family: inherit;
        color: #fff;
        background-color: #999;
        border-radius: 0.3em;
        padding: 0.1em 0.5em;
    }
}

textarea + p.hint {
    margin-top: -2em;
}

div.url + p.hint, p + p.hint {
    margin-top: -1em;
}

.alert-info {
    color: green;
}

.alert-danger {
    color: red;
}

a {
    color: slateblue;
}

input[type=submit], button {
    color: #f0f0f0;
    background-color: mediumslateblue;
    padding: 0.5em;
    border: 0;
    border-radius: 0.2em;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    color: #fff;
    background-color: slateblue;
}

.url {
    margin: 0 0 1em 0;

    span {
        background-color: #eee;
        border-radius: 0.2em;
        font-family: monospace;
        padding: 0.5em;
        margin: 0 0.5em 1em 0;
        box-sizing: border-box;
        display: inline-block;
    }

    button:focus {
        outline: none;
    }
}

textarea {
    padding: 0.5em;
    border-radius: 0.2em;
    border-color: slateblue;

    &:focus {
        outline-color: mediumslateblue;
    }
}

pre {
    background-color: #eee;
    padding: 1em;
    margin: 0 0 2em 0;
    overflow: auto;
    white-space: pre-wrap;
    border-radius: 0.2em;
}

hr {
    margin: 2em 0 2em 0;
}

form {
    label {
        margin: 0 0 0.5em 0;
        display: block;
    }

    textarea, select, button {
        margin: 0 0 2em 0;
        display: block;
    }
}
