@import "./normalize.css";

html {
  font-size: 13pt;
}

html, body, div, p, span, input, textarea, select, button {
    font-family: sans-serif;
}

body, div, p, span, input, textarea, select, button {
    font-size: 1em;
}

h1, h2, h3 {
    font-weight: bold;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    font-size: 1em;
}

body {
    padding: 2em;
}

p {
    margin: 0 0 2em 0;
}

.alert-info {
    color: green;
}

.alert-danger {
    color: red;
}

a {
    color: #552346;
}

input[type=submit], button {
    color: #eee;
    background-color: #653356;
    padding: 0.5em;
    border: 0;
    border-radius: 0.2em;
    font-weight: bold;
    cursor: pointer;
}

input[type=submit]:hover, button:hover {
    color: #fff;
    background-color: #552346;
}

input[type=url] {
    width: 100%;
    max-width: 40em;
    background-color: #eee;
    border: 0;
    font-family: monospace;
    padding: 1em;
    box-sizing: border-box;
}

input[type=url]:focus {
    outline: none;
}

textarea {
    padding: 0.5em;
}

pre {
    background-color: #eee;
    padding: 1em;
    margin: 0 0 2em 0;
    overflow: auto;
    white-space: pre-wrap;
}

hr {
    margin: 2em 0 2em 0;
}

form {
    label {
        margin: 0 0 0.5em 0;
        display: block;
    }

    textarea, select, button {
        margin: 0 0 2em 0;
        display: block;
    }
}
