<h3>
  Securely share a secret via single-use self-destructing link
</h3>

<%= form_for @conn, Routes.secret_path(@conn, :create), [class: "form-inline"], fn f -> %>
  <%= if error = assigns[:error] do %>
    <p class="alert-danger"><%= error %></p>
  <% end %>

  <%= label f, :secret, "Your secret content:" %>
  <%= textarea f, :secret,
        rows: 5, cols: 60, autofocus: true,
        placeholder: "Password, API token, private link..." %>
  <%= if cmd_key_available?(@conn) do %>
    <p class="hint">
      Hint: press <kbd>⌘</kbd>+<kbd>Enter</kbd> to submit this form.
    </p>
  <% end %>

  <%= label f, :ttl, "Link should expire after:" %>
  <%= select f, :ttl, @ttl_options, selected: @default_ttl %>

  <%= submit "Create secret link" %>
<% end %>

<hr>

<h3>Instructions for nerds 🤓</h3>

<p>
  You can use <code>curl</code> to create secret link from a text captured from stdin:
</p>

<pre><code>curl -s -F 'secret=<-' -F ttl=1h '<%= Routes.secret_url(@conn, :new, format: "text") %>'</code></pre>

<p>After entering your secret, press <kbd>Ctrl</kbd>+<kbd>d</kbd>. Single-use link will be printed to the terminal.</p>

<p>
  Combine above with <code>tee</code> and <code><%= copy_tool(@conn) %></code> to have the link printed to the terminal and automatically copied to the clipboard:
</p>

<pre><code>curl -s -F 'secret=<-' -F ttl=1h '<%= Routes.secret_url(@conn, :new, format: "text") %>' | tee /dev/tty | <%= copy_cmd(@conn) %></code></pre>

<p>
  💡 TTL value can be specified with a suffix: <code>1s</code> (1 second), <code>2m</code> (2 minutes), <code>3h</code> (3 hours), <code>4d</code> (4 days).
</p>
