<p>
  Click the button below to view the secret:
</p>

<%= form_for @conn, Routes.secret_path(@conn, :reveal, @id), fn _f -> %>
  <p>
    <%= submit "Reveal the secret" %>
  </p>
<% end %>

<p>
  ❗ This secret will be displayed only once, then it will self-destruct.
</p>
