<p>
  Your secret is:
</p>

<pre><code><%= @secret %></code></pre>

<p>
  🔥 This secret has now self-destructed. Save it before closing this page.
</p>

<hr>

<p>
  <%= link "Add your own secret", to: Routes.secret_path(@conn, :new) %>
</p>
