<p>
  The secret is:
</p>

<pre class="secret"><code class="copyable"><%= @secret %></code></pre>

<p class="hint">
  Hint: press <kbd>c</kbd> to copy the secret to the clipboard.
</p>

<p>
  🔥 This secret has now self-destructed. Make sure you've copied it before closing this page!
</p>

<hr>

<p>
  <%= link "Share your own secret", to: Routes.secret_path(@conn, :new) %>
</p>
